.about-you {
  border: groove #7F9196;
  width: 50%
}

.about-you h3 {
  background-color: #7F9196;
  color: white;
  padding: 10px;
}

.about-you label {
  color: #42636C;
}

.about-you-container {
  padding: 20px
}