/* Draw a box around the data entry elements */
.about-you {
  border: groove #7F9196;
}

.about-you-header {
  background-color: #7F9196;
  padding: 10px;
}

.about-you-header h3 {
  color: white;
}

.about-you label {
  color: #42636C;
}

.about-you-container {
  padding: 20px
}

/* Increase the size of the input entry elements */
.form-control {
  font-size: x-large;
}