section h2 {
  padding: 10px 0px;
}

.story span {
  color: #42636C;
}

.fun-facts {
  border: groove #7F9196;
}

.fun-facts .fun-facts-header {
  background-color: #7F9196;
  padding: 10px;
  margin-bottom: 0.5rem;
}

.fun-facts .fun-facts-header h2 {
  color: white;
  margin: 0;
  padding: 0;
}

.detail-image-cropped {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
