main h1, h2, h3 {
  color: #42636C;
}

.footer-container {
  margin-top: 100px;
  background-color: #E6E6E6;
}

.main-container {
  padding: 20px 0px 0px 20px;
}

/* To make it easier to see when recording */
.main-container p, td, label {
  font-size: x-large;
}

.page-container {
  background: linear-gradient(0deg, #E6E6E6 28%, #E5E9EA);
}

.page-header {
  background-color: #7F9196;
  padding: 20px 0px 0px 20px;
  font-size: x-large;
}

.page-header figcaption {
  color: white;
}